<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php" colors="true" cacheDirectory=".phpunit.cache" failOnWarning="true" failOnRisky="true">
    <php>
        <ini name="error_reporting" value="32767"/>
        <env name="LOG_DEPRECATIONS_CHANNEL" value="stderr" force="true"/>
        <env name="LOG_DEPRECATIONS_WHILE_TESTING" value="true" force="true"/>
    </php>
    <testsuites>
        <testsuite name="real Laravel integration">
            <file>AdminLifecycleTest.php</file>
            <file>DomCrawlerCompatibilityTest.php</file>
            <file>MultipleSelectTest.php</file>
            <file>MultipleSelectNullOldInputTest.php</file>
            <file>CollectionConditionalFieldsTest.php</file>
            <file>NullableSelectTest.php</file>
            <file>RemoteSelectOldInputTest.php</file>
            <file>SelectLoadsIsolationTest.php</file>
            <file>CheckboxZeroTest.php</file>
            <file>StyledCheckboxZeroTest.php</file>
            <file>SliderRangeTest.php</file>
            <file>SwitchLabelsTest.php</file>
            <file>NullableRadioTest.php</file>
            <file>CurrencyRadixTest.php</file>
            <file>NumberIntegerTest.php</file>
            <file>NumberFieldStateTest.php</file>
            <file>WidgetOptionSerializationTest.php</file>
            <file>TagsTest.php</file>
            <file>TextareaNewlineTest.php</file>
            <file>ListFieldTest.php</file>
            <file>ListFieldScopedNameTest.php</file>
            <file>CollectionScriptScopingTest.php</file>
            <file>CollectionFieldStatesTest.php</file>
            <file>HasManyTableReinitializationTest.php</file>
            <file>HasManyModesReinitializationTest.php</file>
            <file>ExplicitEmptyCollectionsTest.php</file>
            <file>EmbeddedObjectOriginalTest.php</file>
            <file>ObjectDisplayTest.php</file>
            <file>CsvHeadersTest.php</file>
            <file>DefaultExporterTest.php</file>
            <file>ExporterDriverTest.php</file>
            <file>GridRequestInputTest.php</file>
            <file>GridQuickSearchKeyTest.php</file>
            <file>ModernAttributeDispatchTest.php</file>
            <file>GridPaginationTest.php</file>
            <file>GridInequalityFilterTest.php</file>
            <file>GridBetweenNameTest.php</file>
            <file>GridExplicitSortTest.php</file>
            <file>GridCarouselTest.php</file>
            <file>GridTableTest.php</file>
            <file>GridInlineMultipleSelectTest.php</file>
            <file>GridInlineNullableChoicesTest.php</file>
            <file>GridInlineMixedEditorsTest.php</file>
            <file>GridInlineUploadTest.php</file>
            <file>GridQuickCreateTest.php</file>
            <file>ActionRequestInputTest.php</file>
            <file>ActionTextareaLeadingNewlineTest.php</file>
            <file>ActionNullableRadioTest.php</file>
            <file>ActionSelectNullTest.php</file>
            <file>ActionModalRetryTest.php</file>
            <file>HandleControllerRequestTest.php</file>
            <file>FileUploadFailureTest.php</file>
            <file>MultipleFileSortTest.php</file>
            <file>ResourceGeneratorTest.php</file>
            <file>GeneratedControllerCrudTest.php</file>
            <file>DateCastPresentationTest.php</file>
            <file>DateRangeCastPresentationTest.php</file>
            <file>DateRangeInitializationTest.php</file>
            <file>DateMultipleOptionsTest.php</file>
            <file>NullableTemporalDefaultsTest.php</file>
            <file>LiteralTemporalDefaultsTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>
